{% extends 'base.html' %}

{%block title%} about {%endblock title%}
{%block body%}

<style>
  .border {
    padding: 25px 25px 25px 25px;
    border-radius: 15px !important;
  }

  h3:hover {
    color: #ffc107 !important;
  }

  p {
    font-size: 1rem;
  }
</style>

<div class="container">
  <div class="row mt-5">
    <div class="col-lg-4 col-12 container border border-secondary shadow-lg p-3 mb-5 bg-white rounded">
      <img src="https://i.ibb.co/N12zVKL/principal2.jpg" alt="principal2" class="img-fluid rounded">

    </div>
    <div class="row mt-5 mb-5">
      <div class="col-lg-10 col-12 container border border-secondary shadow-lg p-3 mb-5 bg-white rounded">

        <h3 class="text-center"><b>Welcome to VPCSC, Indapur!!!</b></h3><br>
        <p>
          With changing global scenario in education system, it is high time to reform entire teaching learning
          process which in turn helps in developing smart individuals.
          With the advancement in technology, learning now become more enjoyable & student friendly. Beside
          traditional set of learning, one can adapt different ways for acquiring skills that meet your needs.
          One such tool is MOOC (Massive Open Online Course). In India, one such initiative is SWAYAM,
          a program initiated by Govt. of India. It is designed to achieve three main principles of education
          policies namely viz; access, equity & quality.SWAYAM platform facilitates hosting of variety of courses
          to be accessed by anyone, anywhere at any time. All the courses are interactive, prepared by best teacher
          in the country & free of cost to any learner.
          To ensure academic excellence, we at VPCSC adapt innovative learning methodologies such as Smart Class
          Room, ICT enabled Lab, Innovation & Start-up Cell, MOODLE Learning Platform, Language Lab etc.
          Our student needs to focus on soft skills, entrepreneurial communication skills. We impart need based
          training in student to inculcate entrepreneurial spirit, enhance communication skills & aptitude test
          skills beside their regular curriculum.At VPCSC, we adapt a novel teaching-learning platform using
          MOODLE. It helps in managing learner’s outcome more effectively.
          <br> Happy Learning!!!
          <br>Dr. Nirmal Sahuji
        </p>

      </div>
    </div>
  </div>
</div>




{%endblock body%}