{% extends 'base.html' %}

{%block title%} about {%endblock title%}
{%block body%}
<style>
  h2:hover {
    color: #ffc107 !important;
  }
</style>

<h2 style="color:#900; font-size:3vw; " class="text-center mt-5 ">Board of Trustee's</h2>

<div
  class="container table-responsive d-flex justify-content-center align-items-center mt-5 mb-5 shadow-lg p-3 mb-5 bg-white rounded">

  <table border="1" cellspacing="8" cellpadding="8" width="80%" style="font-size:1.5vw; " class="table table- bordered">

    <tbody>
      <tr>
        <td width="482" style="text-align:left; padding-left:25px;">
          <p>SHRI. SHARADCHANDRAJI GOVINDRAO PAWAR</p>
        </td>
        <td width="212">
          <p>PRESIDENT</p>
        </td>
      </tr>
      <tr>
        <td width="482" style="text-align:left; padding-left:25px;">
          <p>ADV. ASHOK VASUDEO PRABHUNE</p>
        </td>
        <td width="212">
          <p>VICE PRESIDENT</p>
        </td>
      </tr>
      <tr>
        <td width="482" style="text-align:left; padding-left:25px;">
          <p>SHRI. YUGENDRA SHRINIVAS PAWAR</p>
        </td>
        <td width="212">
          <p>TREASURER</p>
        </td>
      </tr>
      <tr>
        <td width="482" style="text-align:left; padding-left:25px;">
          <p>ADV. NEELIMA VINODKUMAR GUJAR</p>
        </td>
        <td width="212">
          <p>SECRETARY</p>
        </td>
      </tr>
      <tr>
        <td width="482" style="text-align:left; padding-left:25px;">
          <p>SHRI. AJIT ANANTRAO PAWAR</p>
        </td>
        <td width="212">
          <p>TRUSTEE</p>
        </td>
      </tr>
      <tr>
        <td width="482" style="text-align:left; padding-left:25px;">
          <p>SHRI. VITTHAL B. MANIAR</p>
        </td>
        <td width="212">
          <p>TRUSTEE</p>
        </td>
      </tr>
      <tr>
        <td width="482" style="text-align:left; padding-left:25px;">
          <p>SOU. SUPRIYA SADANAND SULE</p>
        </td>
        <td width="212">
          <p>TRUSTEE</p>
        </td>
      </tr>
      <tr>
        <td width="482" style="text-align:left; padding-left:25px;">
          <p>SOU. SUNETRA AJIT PAWAR</p>
        </td>
        <td width="212">
          <p>TRUSTEE</p>
        </td>
      </tr>
      <tr>
        <td width="482" style="text-align:left; padding-left:25px;">
          <p>SHRI. BALASAHEB PATIL TAWARE</p>
        </td>
        <td width="212">
          <p>MEMBER</p>
        </td>
      </tr>
      <tr>
        <td width="482" style="text-align:left; padding-left:25px;">
          <p>DR. RAJIV MOTILAL SHAH</p>
        </td>
        <td width="212">
          <p>MEMBER</p>
        </td>
      </tr>
      <tr>
        <td width="482" style="text-align:left; padding-left:25px;">
          <p>SHRI. KIRAN BABANRAO GUJAR</p>
        </td>
        <td width="212">
          <p>MEMBER</p>
        </td>
      </tr>
      <tr>
        <td width="482" style="text-align:left; padding-left:25px;">
          <p>SHRI. MANDAR SHRIKANT SIKACHI</p>
        </td>
        <td width="212">
          <p>MEMBER</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>


{%endblock body%}