{% extends 'base.html' %}

{%block title%} about {%endblock title%}
{%block body%}

<style>
  .border {
    padding: 25px 25px 25px 25px;
    border-radius: 15px !important;
  }

  h3:hover {
    color: #ffc107 !important;
  }
</style>

<div class="container my-5  ">
  <div class="row">
    <div class="col-lg-6 col-12 container border border-secondary shadow-lg p-3 mb-5 bg-white rounded">
      <h3 class="text-center mb-5"><b>About Our Institution</b></h3>
      <p>
        Vidya Pratishthan's Commerce & Science College was established in June 2008 in a picturesque
        educational campus sprawling over 70 acres, 135 Km away from Pune and 45 km away from Baramati in
        Pune district.
      </p>
      <p>
        The College is affiliated to University of Pune. Elaborate infrastructure, complete with modern
        laboratories, library, hostels, canteen and residential quarters for the staff, is the hallmark of
        this nascent institution.
      </p>
      <p>
        We encourage the students by giving them the finest level of learning atmosphere and allowing them
        to participate in co-curricular and extracurricular activities.
      </P>
    </div>
    <div class="col-lg-6 col-12 container border border-secondary shadow-lg p-3 mb-5 bg-white rounded">
      <img src="https://i.ibb.co/Kx2xfJk/Front.jpg" style="height: 100%; width: 100%;" alt="..." class="img-fluid">
    </div>
  </div>
</div>













{%endblock body%}