{% extends 'base.html' %}

{% block title%} contact {% endblock title %}

{%block body%}

<style>
    h3:hover,
    h5:hover {
        color: #ffc107 !important;
        cursor: pointer;
    }

    .card img:hover {

        opacity: 0.7;
        cursor: pointer;

    }

    div.card:hover {

        border: 2px solid #777;
    }

    /* .container{
        margin-right: 40px;
    } */
</style>



<h3 class="text-center mt-5">Faculty</h3>

<!-- Carousel wrapper -->
<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center " data-mdb-ride="carousel ">
    <!-- Controls -->

    <!-- Inner -->
    <div class="carousel-inner py-4  ">
        <!-- Single item -->
        <div class="carousel-item active ">
            <div class="container ">
                <div class="row">

                    <div class="col-lg-4 ">
                        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                            <img src="https://i.ibb.co/xMNGs0d/resize-1627109575146507153-Screenshot984.png"
                                class="card-img-top" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Mr. Javed Tayyab Shaikh</h5>
                                <p class="card-text">

                                <ul class="list-group">
                                    <li class="list-group-item">Designation : Assistant Professor</li>
                                    <li class="list-group-item">Qualification : M.B.A. (Marketing & IT)</li>
                                    <!-- <li class="list-group-item">Email Id : javed.shaikh@vpcscindapur.org</li> -->
                                    <li class="list-group-item">Contact No. : 8624889942</li>

                                </ul>
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 ">
                        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                            <img src="https://i.ibb.co/XXZ6wCN/resize-1627109784167276641-Screenshot986.png"
                                class="card-img-top" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title"> Mr. Swapnil Anil Bhandare</h5>
                                <p class="card-text">

                                <ul class="list-group">
                                    <li class="list-group-item">Designation : Assistant Professor</li>
                                    <li class="list-group-item">Qualification : M.B.A. (Finance))</li>
                                    <!-- <li class="list-group-item">Email Id : javed.shaikh@vpcscindapur.org</li> -->
                                    <li class="list-group-item">Contact No. : 8380986504</li>

                                </ul>
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 ">
                        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                            <img src="https://i.ibb.co/34btRHP/resize-1627114705898617608user.png" class="card-img-top"
                                alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Ms. Trupti Yashvant Bhong</h5>
                                <p class="card-text">

                                <ul class="list-group">
                                    <li class="list-group-item">Designation : Assistant Professor</li>
                                    <li class="list-group-item">Qualification : M.Sc. Computer Science</li>
                                    <!-- <li class="list-group-item">Email Id : javed.shaikh@vpcscindapur.org</li> -->
                                    <li class="list-group-item">Contact No. : 9730333185 </li>

                                </ul>
                                </p>

                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>


    </div>
    <!-- Inner -->
</div>
<!-- Carousel wrapper -->



{%endblock body%}