{% extends 'base.html' %}

{% block title%} BCA {% endblock title %} 

{%block body%} 


<style>
    h3:hover,
    h5:hover {
        color: #ffc107 !important;
        cursor: pointer;
    }

    .card img:hover {

        opacity: 0.7;
        cursor: pointer;

    }

    div.card:hover {

        border: 2px solid #777;
    }
    /* .container{
        margin-right: 40px;
    } */
</style>



<h3 class="text-center mt-5">Faculty</h3>

<!-- Carousel wrapper -->
<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center " data-mdb-ride="carousel ">
    <!-- Controls -->

    <!-- Inner -->
    <div class="carousel-inner py-4  ">
        <!-- Single item -->
        <div class="carousel-item active ">
            <div class="container ">
                <div class="row">

                    <div class="col-lg-4 ">
                        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                            <img src="https://i.ibb.co/KGFMZm0/resize-1627113752129466164-Screenshot999-1.png"
                                class="card-img-top" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Mr. Nilesh Shriram Kaldate</h5>
                                <p class="card-text">

                                <ul class="list-group">
                                    <li class="list-group-item">Designation : Assistant Professor & HOD</li>
                                    <li class="list-group-item">Qualification : M.C.A.</li>
                                    <!-- <li class="list-group-item">Email Id : javed.shaikh@vpcscindapur.org</li> -->
                                    <li class="list-group-item">Contact No. : 8805018366</li>

                                </ul>
                                </p>

                            </div>
                        </div>
                    </div>

                    
                    <div class="col-lg-4 ">
                        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                            <img src="https://i.ibb.co/Y0GBTWp/resize-162711382728902634-Screenshot996.png"
                                class="card-img-top" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Mrs. Tamanna Ajam Shaikh</h5>
                                <p class="card-text">

                                <ul class="list-group">
                                    <li class="list-group-item">Designation : Assistant Professor</li>
                                    <li class="list-group-item">Qualification : M.C.A.</li>
                                    <!-- <li class="list-group-item">Email Id : javed.shaikh@vpcscindapur.org</li> -->
                                    <li class="list-group-item">Contact No. : 9975516263</li>

                                </ul>
                                </p>

                            </div>
                        </div>
                    </div>

                    
                    <div class="col-lg-4 ">
                        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                            <img src="https://i.ibb.co/q9ttgkB/resize-162711405431985253-Screenshot1000.png"
                                class="card-img-top" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Mr. Sudarshan Balasaheb Awate</h5>
                                <p class="card-text">

                                <ul class="list-group">
                                    <li class="list-group-item">Designation : Assistant Professor</li>
                                    <li class="list-group-item">Qualification : M.C.A.</li>
                                    <!-- <li class="list-group-item">Email Id : javed.shaikh@vpcscindapur.org</li> -->
                                    <li class="list-group-item">Contact No. : 9975541755</li>

                                </ul>
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 ">
                        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                            <img src="https://i.ibb.co/34btRHP/resize-1627114705898617608user.png"
                                class="card-img-top" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title"> Mr. Ganesh Bharat Sakhare</h5>
                                <p class="card-text">

                                <ul class="list-group">
                                    <li class="list-group-item">Designation : Assistant Professor</li>
                                    <li class="list-group-item">Qualification: M.Sc. Mathematics</li>
                                    <!-- <li class="list-group-item">Email Id : javed.shaikh@vpcscindapur.org</li> -->
                                    <li class="list-group-item">Contact No. : 7774837172</li>

                                </ul>
                                </p>

                            </div>
                        </div>
                    </div>

                     

                     
                    
                </div>
            </div>
        </div>


    </div>
    <!-- Inner -->
</div>
<!-- Carousel wrapper -->



{%endblock body%}
