{% extends 'base.html' %}

{% block title%} contact {% endblock title %}


{%block body%}

<style>
    h3:hover,
    h5:hover {
        color: #ffc107 !important;
        cursor: pointer;
    }

    .card img:hover {

        opacity: 0.7;
        cursor: pointer;

    }

    div.card:hover {

        border: 2px solid #777;
    }

    /* .container{
        margin-right: 40px;
    } */
</style>



<h3 class="text-center mt-5">Faculty</h3>

<!-- Carousel wrapper -->
<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center " data-mdb-ride="carousel ">
    <!-- Controls -->

    <!-- Inner -->
    <div class="carousel-inner py-4  ">
        <!-- Single item -->
        <div class="carousel-item active ">
            <div class="container ">
                <div class="row">

                    <div class="col-lg-4 ">
                        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                            <img src="https://i.ibb.co/FzhtQ2C/resize-1627111862637447684-Screenshot992.png "
                                class="card-img-top" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Mr. Shaikh Sarfaraz Yusuf</h5>
                                <p class="card-text">

                                <ul class="list-group">
                                    <li class="list-group-item">Designation : Assistant Professor & HOD</li>
                                    <li class="list-group-item">Qualification : M.Sc. Computer Science</li>
                                    <!-- <li class="list-group-item">Email Id : javed.shaikh@vpcscindapur.org</li> -->
                                    <li class="list-group-item">Contact No. : 9423020014</li>

                                </ul>
                                </p>

                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4">
                        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                            <img src="https://i.ibb.co/tYfTFq2/resize-16271119651190109900-Screenshot993.png"
                                class="card-img-top" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Ms. Jyoti Nilkanth Teke</h5>
                                <p class="card-text">

                                <ul class="list-group">
                                    <li class="list-group-item">Designation : Assistant Professor</li>
                                    <li class="list-group-item">Qualification : M.Sc. Electronics</li>
                                    <!-- <li class="list-group-item">Email Id:swapnil.bhandare@vpcscindapur.org</li> -->
                                    <li class="list-group-item">Contact No. : 9096970240</li>

                                </ul>
                                </p>

                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 ">
                        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                            <img src="https://i.ibb.co/mXfpryV/resize-1627112136441265571-Screenshot994.png"
                                class="card-img-top" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Mr. Sandip Tatyaram Nanaware</h5>
                                <p class="card-text">

                                <ul class="list-group">
                                    <li class="list-group-item">Designation : Assistant Professor</li>
                                    <li class="list-group-item">Qualification : M.Sc. Statistics</li>
                                    <!-- <li class="list-group-item">Email Id : javed.shaikh@vpcscindapur.org</li> -->
                                    <li class="list-group-item">Contact No. : 7888148198</li>

                                </ul>
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 ">
                        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                            <img src="https://i.ibb.co/d0RNT6D/resize-16271120451859467473-Screenshot995.png"
                                class="card-img-top" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Mr. Adesh Pandurang Bankar</h5>
                                <p class="card-text">

                                <ul class="list-group">
                                    <li class="list-group-item">Designation : Assistant Professor</li>
                                    <li class="list-group-item">Qualification:M.Sc. Mathematics,B.Ed,TET,TAIT</li>
                                    <!-- <li class="list-group-item">Email Id : javed.shaikh@vpcscindapur.org</li> -->
                                    <li class="list-group-item">Contact No. : 9665253448</li>

                                </ul>
                                </p>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


    </div>
    <!-- Inner -->
</div>
<!-- Carousel wrapper -->



{%endblock body%}