{% extends 'base.html' %}

{% block title%} contact {% endblock title %}

{%block body%}
<style>
  td,
  th {
    text-align: center !important;

  }
</style>

<div class="container">
  <div
    class="container table-responsive d-flex justify-content-center align-items-center mt-5 mb-5 shadow-lg p-3 mb-5 bg-white rounded">
    <table border="1" cellspacing="8" cellpadding="8" width="80%" style="font-size:1vw; " class="table table- bordered">
      <tbody>
        <tr>
          <th width="139">Course Name</th>
          <th width="162">Intake Capacity</th>
          <th width="186">Eligibility Criteria</th>
          <th width="162">Future Scope</th>
        </tr>
        <tr>

          <th>B.Sc.<br>(Computer Science)</th>
          <th>80 Seats</th>
          <td width="186">
            <p>Passed H.S.C. Examination (minimum 40% marks) from Science Stream with Mathematics OR Diploma in
              Engineering </p>
          </td>

          <td width="162">
            <p>Better job Opportunities in IT and Software Industries. Eligible for M.Sc. (Computer Science), M.C.A.,
              M.B.A. And M.P.S.C. / U.P.S.C. Competitive Exam.</p>
          </td>
        </tr>
        <tr>
          <th>B.B.A.<br>(Computer Application)</th>
          <th>80 Seats</th>
          <td width="186">
            <p>Passed H.S.C. Examination (minimum 40% marks) from any Stream and English as one of the subject / Diploma
              in Engineering/ Diploma in Pharmacy/ MCVC</p>
          </td>
          <td width="162">
            <p>Opportunity for student of any stream to become IT professionals. Eligible for M.C.A., M.B.A. and
              M.P.S.C. / U.P.S.C. Competitive Exam. </p>
          </td>
        </tr>
        <tr>
          <th>B.B.A.<br>(Bachelor of Business Administration)</th>
          <th>80 Seats</th>
          <td width="186">
            <p>Passed H.S.C. Examination (minimum 40% marks) from any Stream and English as one of the subject / Diploma
              in Engineering/ Diploma in Pharmacy/ MCVC</p>
          </td>

          <td width="162">
            <p>Better job Opportunities in business organizations. Eligible for M.C.A., M.B.A. and M.P.S.C./U.P.S.C.
              Competitive Exam. </p>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

{%endblock body%}