{% extends 'base.html' %}

{% block title%} contact {% endblock title %}

{%block body%}
<style>
  h3:hover,
  h5:hover {
    color: #ffc107 !important;
    cursor: pointer;
  }

  .card img:hover {

    opacity: 0.7;
    cursor: pointer;

  }

  div.card:hover {

    border: 2px solid #777;

  }
</style>

<h3 class="text-center mt-5">Facilities</h3>
<!-- Carousel wrapper -->
<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
  <!-- Controls -->

  <!-- Inner -->
  <div class="carousel-inner py-4 ">
    <!-- Single item -->
    <div class="carousel-item active ">
      <div class="container ">
        <div class="row">
          <div class="col-lg-4 col-12">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/BTsMQ0f/Amphy.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Amphy</h5>
                <p class="card-text">
                  Big Amphy available for the programs.
                </p>

              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/s6414wp/Auditorium.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Auditorium</h5>
                <p class="card-text">
                  Big Auditorium for Cultural and entertainment..
                </p>

              </div>
            </div>
          </div>

          <div class="col-lg-4 ">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/T17dPcn/BH.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Boys Hostel</h5>
                <p class="card-text">
                  Boys Hostel available with all the facilities.
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <!-- Inner -->
</div>
<!-- Carousel wrapper -->

<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
  <!-- Controls -->

  <!-- Inner -->
  <div class="carousel-inner py-4">
    <!-- Single item -->
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/4pfbXyf/Canteen.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Canteen</h5>
                <p class="card-text">
                  Gorgeous and furnished canteen facility available.
                </p>

              </div>
            </div>
          </div>

          <div class="col-lg-4 ">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/cvcVw0c/GH.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Girls Hostel</h5>
                <p class="card-text">
                  Girls Hostel available with all the facilities.
                </p>

              </div>
            </div>
          </div>

          <div class="col-lg-4 ">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/3fhvcLB/GR.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Playground</h5>
                <p class="card-text">
                  Big playground for the soprts.
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <!-- Inner -->

  <!-- Inner -->
  <div class="carousel-inner py-4">
    <!-- Single item -->
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/bHLSSFD/Mess.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Mess</h5>
                <p class="card-text">
                  Mess facility available with quality food.
                </p>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


  </div>
  <!-- Inner -->

</div>
<!-- Carousel wrapper -->



{%endblock body%}