{% extends 'base.html' %}

{% block title%} contact {% endblock title %}

{%block body%}
<style>
  h3:hover,
  h5:hover {
    color: #ffc107 !important;
    cursor: pointer;
  }

  .card img:hover {

    opacity: 0.7;
    cursor: pointer;

  }

  div.card:hover {

    border: 2px solid #777;

  }
</style>

<h3 class="text-center mt-5">National Service Scheme(NSS)</h3>
<!-- Carousel wrapper -->
<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
  <!-- Controls -->

  <!-- Inner -->
  <div class="carousel-inner py-4 ">
    <!-- Single item -->
    <div class="carousel-item active">
      <div class="container ">
        <div class="row">
          <div class="col-lg-4 col-12">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/93BrHJ3/Camp.jpg" class="card-img-top" alt="..." />
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/xYfFt4k/20190704-161511-adobespark.jpg" class="card-img-top" alt="..." />
            </div>
          </div>

          <div class="col-lg-4 ">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/Fw9V4KG/matdar-1.jpg" class="card-img-top" alt="..." />
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <!-- Inner -->
</div>
<!-- Carousel wrapper -->

<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
  <!-- Controls -->

  <!-- Inner -->
  <div class="carousel-inner py-4">
    <!-- Single item -->
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/3dXD9WJ/IMG-20190923-WA0014-adobespark-1.jpg" class="card-img-top" alt="..." />

            </div>
          </div>

          <div class="col-lg-4 ">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/4j830mt/20190704-161626-1-1569257887865-adobespark.jpg" class="card-img-top"
                alt="..." />
            </div>
          </div>

          <div class="col-lg-4 ">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/SdLhC4p/IMG-20190623-122454-adobespark.jpg" class="card-img-top" alt="..." />
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

  <!-- Inner -->
  <div class="carousel-inner py-4">
    <!-- Single item -->
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/KD6g6RS/IMG-20191002-083319-adobespark.jpg" class="card-img-top" alt="..." />

            </div>
          </div>

          <div class="col-lg-4 ">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/GVJ8cM5/20190704-161750-1569257873240-adobespark.jpg" class="card-img-top"
                alt="..." />
            </div>
          </div>

          <div class="col-lg-4 ">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/kM0zwDC/IMG-20190623-124601-adobespark.jpg" class="card-img-top" alt="..." />
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>




</div>
<!-- Carousel wrapper -->



{%endblock body%}