{% extends 'base.html' %}

{% block title%} contact {% endblock title %}

{%block body%}
<style>
  h3:hover,
  h5:hover {
    color: #ffc107 !important;
    cursor: pointer;
  }

  .card img:hover {

    opacity: 0.7;
    cursor: pointer;

  }

  div.card:hover {

    border: 2px solid #777;

  }
</style>

<h3 class="text-center mt-5">Placement</h3>

<!-- Carousel wrapper -->
<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
  <!-- Controls -->

  <!-- Inner -->
  <div class="carousel-inner py-4 ">
    <!-- Single item -->
    <div class="carousel-item active ">
      <div class="container ">
        <div class="row">
          <div class="col-lg-4">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/F64cGnt/resize-16271043432021475827-Shambhavi-Patil.jpg" class="card-img-top"
                alt="..." />
              <div class="card-body">
                <h5 class="card-title">Patil Shambhavi Vijaykumar</h5>
                <p class="card-text">
                  Saama Technologies Pvt. Ltd., Pune
                </p>

              </div>
            </div>
          </div>


          <div class="col-lg-4">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/8025C3b/resize-16271045211460707446-Khushal-Fuge.jpg" class="card-img-top"
                alt="..." />
              <div class="card-body">
                <h5 class="card-title">Fuge Khushal Dattu</h5>
                <p class="card-text">
                  Tata Consultancy Services(TCS)
                </p>

              </div>
            </div>
          </div>

          <div class="col-lg-4 ">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/cvynKWh/resize-16271046511708264027-Samadhan-Garde.jpg" class="card-img-top"
                alt="..." />
              <div class="card-body">
                <h5 class="card-title">Garde Samadhan Ratnakar</h5>
                <p class="card-text">
                  Capgemini Technology Services India Ltd, Pune
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <!-- Inner -->
</div>
<!-- Carousel wrapper -->

<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
  <!-- Controls -->

  <!-- Inner -->
  <div class="carousel-inner py-4">
    <!-- Single item -->
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/Z2x8Ws7/resize-1627104794658440898-Shubham-Khochare.jpg" class="card-img-top"
                alt="..." />
              <div class="card-body">
                <h5 class="card-title">Khochare Shubham Suresh</h5>
                <p class="card-text">
                  Moonraft Innovation Labs Pvt. Ltd., Bangalore
                </p>

              </div>
            </div>
          </div>

          <div class="col-lg-4 ">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/sK831pk/resize-16271049061445117986-Rutuja.jpg" class="card-img-top"
                alt="..." />
              <div class="card-body">
                <h5 class="card-title">Ghodake Rutuja</h5>
                <p class="card-text">
                  IBG FINCON Pvt. Ltd. Pune. 2019/20
                </p>

              </div>
            </div>
          </div>

          <div class="col-lg-4 ">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/R6TLh10/resize-1627105465486778382-Ajay.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Kale Ajay</h5>
                <p class="card-text">
                  IBG FINCON Pvt. Ltd. Pune. 2019/20
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>


</div>
<!-- Inner -->

</div>
<!-- Carousel wrapper -->


<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
  <!-- Controls -->

  <!-- Inner -->
  <div class="carousel-inner py-4 ">
    <!-- Single item -->
    <div class="carousel-item active ">
      <div class="container ">
        <div class="row">
          <div class="col-lg-4">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/BG3gsQx/resize-1627105728232115233ruchira.jpg" class="card-img-top"
                alt="..." />
              <div class="card-body">
                <h5 class="card-title">Shaha Ruchira</h5>
                <p class="card-text">
                  Infosys Limited, Pune. 2019/20
                </p>

              </div>
            </div>
          </div>


          <div class="col-lg-4">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/MVGGJj9/resize-1627105952153082899-Onkar.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Jagtap Onkar</h5>
                <p class="card-text">
                  Placed Students in TCS 2018-19
                </p>

              </div>
            </div>
          </div>

          <div class="col-lg-4 ">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/946xS3D/resize-16271058521701765995-Gayatri.jpg" class="card-img-top"
                alt="..." />
              <div class="card-body">
                <h5 class="card-title">Kulkarni Gayatri</h5>
                <p class="card-text">
                  Placed Students in TCS 2018-19
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <!-- Inner -->
</div>
<!-- Carousel wrapper -->




<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
  <!-- Controls -->

  <!-- Inner -->
  <div class="carousel-inner py-4 ">
    <!-- Single item -->
    <div class="carousel-item active ">
      <div class="container ">
        <div class="row">
          <div class="col-lg-4">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/Srj6cKc/resize-16271060531169017136-Komal.jpg" class="card-img-top"
                alt="..." />
              <div class="card-body">
                <h5 class="card-title">Kardule Komal</h5>
                <p class="card-text">
                  Placed Students in TCS 2018-19
                </p>

              </div>
            </div>
          </div>


          <div class="col-lg-4">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/1fBQtv8/resize-16271062391126998877-Abhishek.jpg" class="card-img-top"
                alt="..." />
              <div class="card-body">
                <h5 class="card-title">Godase Abhishek</h5>
                <p class="card-text">
                  Placed Students in TCS 2018-19
                </p>

              </div>
            </div>
          </div>

          <div class="col-lg-4 ">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/8rVnzKr/resize-1627106325499972048-Yashraj.jpg" class="card-img-top"
                alt="..." />
              <div class="card-body">
                <h5 class="card-title">Mane Yashraj</h5>
                <p class="card-text">
                  Placed Students in TCS 2018-19
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <!-- Inner -->
</div>
<!-- Carousel wrapper -->





{%endblock body%}