{% extends 'base.html' %}

{% block title%} contact {% endblock title %}

{%block body%}
<style>
  h3:hover,
  h5:hover {
    color: #ffc107 !important;
    cursor: pointer;
  }

  .card img:hover {

    opacity: 0.7;
    cursor: pointer;

  }

  div.card:hover {

    border: 2px solid #777;

  }
</style>

<h3 class="text-center mt-5">Sports</h3>
<!-- Carousel wrapper -->
<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
  <!-- Controls -->

  <!-- Inner -->
  <div class="carousel-inner py-4 ">
    <!-- Single item -->
    <div class="carousel-item active">
      <div class="container ">
        <div class="row">
          <div class="col-lg-4 col-12">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/93BrHJ3/Camp.jpg" class="card-img-top" alt="..." />
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/pygRcjs/IMG-20190531-WA0013.jpg" class="card-img-top" alt="..." />
            </div>
          </div>

          <div class="col-lg-4 ">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/Fw9V4KG/matdar-1.jpg" class="card-img-top" alt="..." />
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <!-- Inner -->
</div>
<!-- Carousel wrapper -->

<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
  <!-- Controls -->

  <!-- Inner -->
  <div class="carousel-inner py-4">
    <!-- Single item -->
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/qFWc4qN/Maths-Projects.jpg" class="card-img-top" alt="..." />

            </div>
          </div>

          <div class="col-lg-4 ">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/f2M43bt/News-Session.jpg" class="card-img-top" alt="..." />
            </div>
          </div>

          <div class="col-lg-4 ">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/HFwfrnV/nirbhaya-2.jpg" class="card-img-top" alt="..." />
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

  <!-- Inner -->
  <div class="carousel-inner py-4">
    <!-- Single item -->
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/dcHRsbw/Projects.jpg" class="card-img-top" alt="..." />

            </div>
          </div>

          <div class="col-lg-4 ">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/TrQtjDz/TCS-Workshop-Training.jpg" class="card-img-top" alt="..." />
            </div>
          </div>

          <div class="col-lg-4 ">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <img src="https://i.ibb.co/WgVqKKC/Valedictory.jpg" class="card-img-top" alt="..." />
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>




</div>
<!-- Carousel wrapper -->



{%endblock body%}