{% extends 'base.html' %}

{% block title%} contact {% endblock title %}

{%block body%}
<h3 class="text-center mt-5">Videos</h3>

<div class="container d-flex justify-content-center align-items-center pt-5 pb-5">

        <div class="col-lg-6 col-12 shadow-lg p-3 mb-5 bg-white rounded">
                <video class="img-fluid" autoplay loop muted>
                        <source src="https://mdbootstrap.com/img/video/Tropical.mp4" type="video/mp4" />
                </video>
        </div>
</div>



{%endblock body%}